<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ReportServiceWebUI._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="pnlPageHdr" runat="server" GroupingText=" " Width="904px">
            <table style="width: 100%; height: 100%">
                <tr>
                    <td style="width: 214px; height: 55px">
                    </td>
                    <td style="vertical-align: middle; width: 378px; height: 55px; text-align: center">
                        <strong>
                        HOTTOPIC<br />
                            REPORT EXECUTION UTILITY</strong></td>
                    <td style="vertical-align: middle; height: 55px; text-align: center; width: 198px;">
                        <asp:Label ID="lblDateTime" runat="server" Font-Bold="True" Text="Label" Width="117px"></asp:Label></td>
                </tr>
            </table>
        </asp:Panel>
        <br />
        <asp:Panel ID="pnlReportHdr" runat="server" GroupingText="Report Header" Height="191px"
            Width="904px">
            <asp:Label ID="Label1" runat="server" Text="Report Name:" Width="94px" Font-Bold="True" Font-Size="Smaller"></asp:Label>
            <asp:TextBox ID="txtRptName" runat="server" Width="192px"></asp:TextBox>
            &nbsp;
            <asp:Label ID="Label3" runat="server" Text="Web Service URL:" Width="122px" Font-Bold="True" Font-Size="Smaller"></asp:Label>&nbsp;<asp:DropDownList
                ID="ddWebServiceURL" runat="server" Width="260px">
            </asp:DropDownList>
            <asp:Label ID="Label5" runat="server" Text="Delivery Type:" Width="101px" Font-Bold="True" Font-Size="Smaller"></asp:Label>&nbsp;<asp:DropDownList
                ID="ddDeliveryType" runat="server" Width="75px">
                <asp:ListItem>EMAIL</asp:ListItem>
                <asp:ListItem>FTP</asp:ListItem>
            </asp:DropDownList><br />
            <asp:Label ID="Label2" runat="server" Text="Report Path:" Width="95px" Font-Bold="True" Font-Size="Smaller"></asp:Label>
            <asp:TextBox ID="txtReportPath" runat="server" Width="334px"></asp:TextBox>&nbsp;
            <asp:Label ID="Label4" runat="server" Text="Output Location:" Width="115px" Font-Bold="True" Font-Size="Smaller"></asp:Label>&nbsp;<asp:DropDownList
                ID="ddOutputLocation" runat="server" Width="315px">
            </asp:DropDownList>&nbsp;<br />
            <asp:Label ID="Label6" runat="server" Text="E-mail Subject Text:" Width="133px" Font-Bold="True" Font-Size="Smaller"></asp:Label>
            <asp:TextBox ID="txtEmailSubject" runat="server" Width="428px"></asp:TextBox>
            &nbsp;
            <asp:Label ID="Label7" runat="server" Text="E-Mail From:" Width="84px" Font-Bold="True" Font-Size="Smaller"></asp:Label>
            <asp:TextBox ID="txtEmailFrom" runat="server" Width="203px"></asp:TextBox><br />
            <asp:Label ID="Label8" runat="server" Height="95px" Text="E-mail Body Text:" Width="132px" Font-Bold="True" Font-Size="Smaller"></asp:Label>
            <asp:TextBox ID="txtEmailBody" runat="server" Height="92px" Width="743px" OnTextChanged="TextBox5_TextChanged" TextMode="MultiLine"></asp:TextBox></asp:Panel>
        &nbsp; &nbsp;<asp:Panel ID="pnlReportDtls" runat="server" GroupingText="Report Details"
            Height="215px" Width="904px">
            <table>
                <tr>
                    <td bgcolor="khaki" style="width: 431px">
                        <strong style="font-size: small">Report Parameters</strong></td>
                    <td bgcolor="khaki" style="width: 451px">
                        <strong style="font-size: small">E-Mail List</strong></td>
                </tr>
                <tr>
                    <td style="width: 431px; height: 160px;">
                        <asp:GridView ID="grdReportParams" runat="server" BackColor="White" BorderColor="#999999"
                            BorderStyle="None" BorderWidth="1px" CellPadding="3"
                            OnSelectedIndexChanged="GridView1_SelectedIndexChanged" Width="429px" AutoGenerateColumns="False" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" Height="167px" GridLines="Vertical" AllowSorting="True">
                            <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                            <Columns>
                                <asp:BoundField HeaderText="Parameter Name" >
                                    <HeaderStyle Width="160px" />
                                </asp:BoundField>
                                <asp:BoundField HeaderText="Value" >
                                    <HeaderStyle Width="170px" />
                                </asp:BoundField>
                            </Columns>
                            <RowStyle BackColor="#EEEEEE" ForeColor="Black" />
                            <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                            <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                            <HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" />
                            <AlternatingRowStyle BackColor="Gainsboro" />
                        </asp:GridView>
                    </td>
                    <td style="width: 451px; height: 160px;">
                        <asp:GridView ID="grdEmailList" runat="server" BackColor="White" BorderColor="#999999"
                BorderStyle="None" BorderWidth="1px" CellPadding="3"
                OnSelectedIndexChanged="GridView1_SelectedIndexChanged" Width="447px" AutoGenerateColumns="False" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" Height="154px" GridLines="Vertical">
                            <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                            <Columns>
                                <asp:TemplateField HeaderText="Line Type">
                                    <ItemTemplate>
                                    <asp:DropDownList Width = "80px" ID="ddLineType" runat=server>
                                        <asp:ListItem Text = "TO" Value="TO"/>
                                        <asp:ListItem Text = "CC" Value = "CC" />
                                        <asp:ListItem Text = "BCC" Value = "BCC" />
                                    </asp:DropDownList>
                                    </ItemTemplate>
                                    <HeaderStyle Width="85px" />
                                </asp:TemplateField>
                                <asp:BoundField HeaderText="Address" >
                                    <HeaderStyle Width="320px" />
                                </asp:BoundField>
                            </Columns>
                            <RowStyle BackColor="#EEEEEE" ForeColor="Black" />
                            <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                            <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                            <HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" />
                            <AlternatingRowStyle BackColor="Gainsboro" />
                        </asp:GridView>
                    </td>
                </tr>
            </table>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</asp:Panel>
        &nbsp; &nbsp; &nbsp;&nbsp;<asp:Panel ID="pnlFooter" runat="server" Height="30px"
            Width="905px">
            <br />
            <table style="width: 902px">
                <tr>
                    <td style="width: 656px; height: 23px">
                    </td>
                    <td align="right" style="height: 23px">
                        <asp:Button ID="btnSave" runat="server" Text="Save"
                Width="114px" />
                        <asp:Button ID="btnCancel" runat="server" Text="Cancel" Width="114px" /></td>
                </tr>
            </table>
        </asp:Panel>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br />
        &nbsp; &nbsp;
    </div>
    </form>
</body>
</html>
