/* Default CSS Stylesheet for a new Web Application project */
.DatagridSm
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: bold;
	font-size: xx-small;
	border-left: #000000 1px solid;
	color: #000000;
	border-bottom: #000000 1px solid;
	font-family: Arial;
	background-color: #dcdcdc;
}

.DatagridSm td
{
border-color: #dcdcdc;
	border-width: 1px;
}
.DATAGRID_HeaderSm
{
	border-right: #dcdcdc 2px solid;
	border-top: #dcdcdc 2px solid;
	font-weight: bold;
	font-size: xx-small;
	border-left: #dcdcdc 2px solid;
	color: #000000;
	border-bottom: #dcdcdc 2px solid;
	background-color: #dcdcdc;
}
.BC333333Sm
{
	font-weight: normal;
	font-size: xx-small;
	font-family: Arial;
	background-color: #f5f5f5;
}
.XXSmall
{
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-SIZE: xx-small;
    FONT-WEIGHT: bold;
}
.BC111111Sm	{	
	background-color: #FFFFFF;
	font-family: Arial;
	font-size:	xx-small;
	font-weight: normal;
	}
	
BODY 
{
	margin: 5px; 
}
TH 
{
	font-weight: bold;
	font-size: 11px; 
	font-family: 'Arial Narrow' ,Arial, Verdana; 
}
TD 
{
	font-size: 11px; 
	font-family: 'Arial Narrow' ,Arial, Verdana; 
}
.PageCaption 
{
	font-weight: bold; 
	font-size: 15pt; 
	font-family: Arial, Verdana; 
}
.Caption 
{
	font-weight: bold; 
	font-size: 12pt; 
	font-family: Arial, Verdana; 
}
.StrongText 
{
	font-weight: bold; 
	font-size: 13px; 
	font-family: 'Arial Narrow' , Arial, Verdana; 
}
INPUT.I1{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	width: 40;
	}
.cellValueLeft
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.cellValueSmall
{	
	font-size: 7pt;
	color: black;
	font-family: Arial,'Arial Narrow';
	text-align: left;
}
.reqStyle
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.cellValueCaption
{
	font-size: 8pt;
	font-family: Arial;	
	color:black;
	font-weight:bold;
}
.btnSmall
{
	
	font-size: 8pt;	
	font-family: Arial, 'Times New Roman';
	
	
	background-color: #440000;	
	color: #FFFFFF; 
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;
}
.btnSmallGrey
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: bold;
	font-size: 7pt;
	border-left: #000000 1px solid;
	cursor: hand;
	border-bottom: #000000 1px solid;
	font-family: Arial, 'Times New Roman';
	background-color: #d3d3d3;
}
/*
BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	


A:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}
*/